{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    // core eslint rules
    "max-len": [1, 100, 2, {ignoreComments: true}],
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "no-use-before-define": [0, { "functions": "true", "classes": "true" }],
    "no-multiple-empty-lines": [1, { "max": 5, "maxBOF": 1 }],
    "arrow-parens": [2, "always"],
    "arrow-body-style": [1, "as-needed"],
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "comma-dangle": [2, {
      "objects": "only-multiline",
      "arrays": "never",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore",
    }],
    "padded-blocks": [0],
    "no-return-assign": [0],
    "no-case-declarations": [0],

    // react eslint rules
    "react/self-closing-comp": [1, { "component": true, "html": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/prefer-stateless-function": [1],
    "react/no-find-dom-node": [0],
    "react/no-string-refs": [0],

    // import eslint rules
     "import/prefer-default-export": [0],
     "import/no-extraneous-dependencies": [2, {"devDependencies": true}]
  }
}
